---
import { getCollection } from "astro:content"
import Layout from "../../layouts/Layout.astro"
import Meeting from "../../components/Meeting.astro"

const problems = await Promise.all(
  (await getCollection("problems")).map(async (x) => ({
    ...x,
    rendered: await x.render(),
  })),
)
---

<Layout title="Problems" width="w-[56rem]">
  <h1 class="mt-8 text-2xl font-bold text-z-heading">Problems</h1>
  {problems.map((problem) => <Meeting meeting={problem} />)}
</Layout>
