---
import { getEntry } from "astro:content"
import Layout from "../../layouts/Layout.astro"

const { id } = Astro.params
if (id === undefined) {
  throw new Error("ID is required")
}

const entry = await getEntry("meetings", id)

if (entry === undefined) {
  return Astro.rewrite("/404")
}

const { Content } = await entry.render()
---

<Layout title="">
  <h1 class="underline">{entry.data.date.toLocaleDateString()} Meeting</h1>
  <Content />
</Layout>
