---
import { getEntry } from "astro:content"
import Layout from "../../layouts/Layout.astro"
import type { GetStaticPaths } from "astro"
import { getCollection } from "astro:content"

const { id } = Astro.params
if (id === undefined) {
  throw new Error("ID is required")
}

const entry = await getEntry("meetings", id)

if (entry === undefined) {
  return Astro.rewrite("/404")
}

const { Content, headings } = await entry.render()

export const getStaticPaths = (async () => {
  const meetings = await getCollection("meetings")
  return meetings.map((x) => ({ params: { id: x.slug } }))
}) satisfies GetStaticPaths
---

<Layout title={headings[0]?.text ?? entry.slug} width="w-[56rem]">
  <h1 class="mt-8 border-b border-z pb-2 text-2xl font-bold text-z-heading">
    {entry.slug}
  </h1>

  <div class="x mt-12 max-w-full pb-24 font-mono text-z-subtitle">
    <Content />
  </div>
</Layout>
