---
import Layout from "../layouts/Layout.astro"
---

<Layout>
  <div class="flex flex-col w-full justify-center ">
    <h1 class="text-9xl text-center">404</h1>
    <h2 class="text-3xl text-center">The page you requested was not found.</h2>
  </div>
</Layout>
