---
import Layout from "../layouts/Layout.astro"
---

<Layout>
  <div class="flex h-full w-full flex-col items-center justify-center gap-4">
    <h1 class="text-center font-mono text-9xl text-z-heading">404</h1>
    <h2 class="text-center text-3xl text-z-subtitle">
      The page you requested was not found.
    </h2>
  </div>
</Layout>
