---
import type { CollectionEntry } from "astro:content"

interface Props {
  meeting: CollectionEntry<"meetings" | "problems">
}

const { meeting } = Astro.props
const rendered = await meeting.render()
---

<a
  href={`/${meeting.collection}/${meeting.id.split(".").slice(0, -1).join()}`}
  class="mt-12 text-2xl underline underline-offset-2"
>
  <h2 class="border-b border-z pb-2">
    {(meeting.collection == "problems" ? "Problem #" : "") + meeting.slug}
  </h2>
</a>

<div class="ml-4 border-l border-z py-3 pl-4 text-xl">
  <div class="x line-clamp-6 text-z-subtitle">
    <rendered.Content />
  </div>
</div>
