---
import type { CollectionEntry } from "astro:content"

interface Props {
  meeting: CollectionEntry<"meetings">
}

const { meeting } = Astro.props
const rendered = await meeting.render()
---

<a
  href={`/meetings/${meeting.id.split(".").slice(0, -1).join()}`}
  class="mt-12 text-2xl"
>
  <h2 class="flex border-b border-z pb-2">{meeting.slug}</h2>

  <div class="ml-4 border-l border-z py-3 pl-4">
    <div
      class="line-clamp-6 text-z-subtitle [&_h1]:mb-2 [&_h1]:font-bold [&_h1]:text-z last:[&_h1]:mb-0"
    >
      <rendered.Content />
    </div>
  </div>
</a>
