---
interface Props {
  href: string
  children: string
  right?: boolean
  bl?: boolean
  br?: boolean
}
---

<a
  href={Astro.props.href}
  class="z-10 flex h-12 w-24 items-center justify-center text-xl hover:bg-z-body-selected sm:h-20 sm:w-32"
  class:list={{
    "ml-auto": Astro.props.right,
    "rounded-bl-xl": Astro.props.bl,
    "rounded-br-xl": Astro.props.br,
  }}
>
  <slot />
</a>
