---
import NavBarItem from "./NavBarItem.astro"
---

<nav class="fixed top-0 flex h-20 w-full select-none bg-z-body">
  <NavBarItem href="/">Home</NavBarItem>
  <NavBarItem href="/meetings">Meetings</NavBarItem>
  <h1
    class="absolute left-0 right-0 top-0 flex h-20 items-center justify-center text-center text-2xl text-z-heading"
  >
    <span class="hidden xl:inline">
      <span class="font-serif">College</span><span class="font-black">Prep</span
      > Computer Science Team
    </span>
    <span class="hidden lg:max-xl:inline">
      <span class="font-serif">College</span><span class="font-black">Prep</span
      > CST
    </span>
    <span class="inline lg:hidden">CPS CST</span>
  </h1>
  <NavBarItem href="https://github.com/afong413/CST-Website" right
    >GitHub</NavBarItem
  >
</nav>

<div class="h-20"></div>
