---
import NavBarItem from "./NavBarItem.astro"
import NavBarTitle from "./NavBarTitle.astro"
---

<nav class="fixed top-0 h-12 w-full select-none bg-z-body sm:h-20">
  <NavBarTitle class="absolute left-0 right-0 top-0 hidden h-20 sm:flex" />
  <div class="flex h-12 w-full sm:h-20">
    <NavBarItem href="/" br>Home</NavBarItem>
    <NavBarItem href="/meetings" bl br>Meetings</NavBarItem>
    <NavBarItem href="https://github.com/afong413/CST-Website" right bl
      >GitHub</NavBarItem
    >
  </div>
</nav>

<div class="h-12 sm:h-20"></div>
