---
import NavBar from "../components/NavBar.astro"
import BaseLayout from "./BaseLayout.astro"

interface Props {
  title?: string
  description?: string
  index?: boolean
}

const { title, description, index } = Astro.props
---

<BaseLayout title={title} description={description} index={index}>
  <div class="flex flex-col h-screen">
    <NavBar />
    <div class="flex flex-col px-8 h-full">
      <slot />
    </div>
  </div>
</BaseLayout>
