---
import NavBar from "../components/NavBar.astro"
import BaseLayout, { type Props } from "./BaseLayout.astro"
---

<BaseLayout {...Astro.props}>
  <div class="flex h-screen flex-col">
    <NavBar />
    <div class="flex h-full flex-col px-8 pb-8">
      <slot />
    </div>
  </div>
</BaseLayout>
