---
import BaseLayout from "./BaseLayout.astro"

interface Props {
  title?: string
  description?: string
  index?: boolean
}

const { title, description, index } = Astro.props
---

<BaseLayout title={title} description={description} index={index}>
  <nav class="w-full h-20 flex items-center select-none p-0">
    <a
      href="/"
      class="text-neutral-50 text-2xl h-full w-32 p-4 flex justify-center items-center hover:bg-neutral-900 z-10"
      >Home</a
    >
    <a
      href="/meetings"
      class="text-neutral-50 text-2xl h-full w-32 p-4 flex justify-center items-center hover:bg-neutral-900 z-10"
      >Meetings</a
    >
    <div class="w-full justify-center absolute">
      <p class="text-5xl text-neutral-50 text-center">
        <span class="font-serif">College</span><span class="font-bold"
          >Prep</span
        >
        Computer Science Team
      </p>
    </div>
  </nav>
</BaseLayout>
